@font-face {
  font-family: 'bebas';
  src:  url('fonts/bebasneue.woff') format('woff');
}

:root {
  --back: #292427;
  --accent: #fffa69;
}


body{
	
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  
}




* {
  box-sizing: border-box;
}

#floatWrapper
{
	    justify-content: center;
    height: 100vh;
    display: flex;
    position: fixed;
    width: 10%;
    flex-direction: column;
}

h1 {
			-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	margin-top: 50px;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: once;
	font-family: 'bebas', Fallback, sans-serif;
	color: var(--accent);
	font-size: 44px;

}

a {
			-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	
	margin: auto;
	margin-top: 50px;
    animation-duration: 2s;
    animation-name: slidein;
	font-family: 'bebas', Fallback, sans-serif;
	font-size: 34px;
	background-color: #26171f;
	color: var(--accent);
	min-width: 20%;
	max-width: fit-content;
	border-radius: 45px;
	padding: 1%;
	border-color: var(--accent);
	border-width: 1%;
	border-style: solid;
		background-image: url(images/stripe.svg);
	overflow: hidden;
}

a .ico{
	
    width: 10%;
    display: inline-block;

}

a svg{

	display: inline-block;
	margin: auto;
	width: 10vw;
		height: 10vw;
	
	background-image: url(images/svg-icons/arrow.svg);

}

h2 {
			-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	
	margin: auto;
	margin-top: 50px;
    animation-duration: 2s;
    animation-name: slidein;
	font-family: 'bebas', Fallback, sans-serif;
	font-size: 34px;
	background-color: #26171f;
	color: var(--accent);
	min-width: 20%;
	max-width: fit-content;
	border-radius: 5px;
	padding: 1%;
	border-color: var(--accent);
	border-width: 1%;
	border-style: solid;
		background-image: url(images/stripe.svg);
}

.svg-icon{
	width: 30%;
	height: 30%;
	transform: translate(0, 120%);
	
}
.listItem{
		-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	margin-top: 50px;
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: once;
	font-family: 'bebas', Fallback, sans-serif;
	font-size: 28px;
	background-color: #50541d;
	border-radius: 5px;
	padding: 1%;
	
	
		color: #292427;
		min-height: fit-content;
		min-width: 15%;	
		max-width: 20%;	
		max-height: fit-content;
		
	transition: background-size 2s, margin 2s, color 2s, text-shadow 2s, min-height 2s, padding 2s, font-size 2s;
	
}

.spoiler{
	
	  transition: all 0.2s ease-in-out;
}

.spoiler:hover{
	cursor: pointer;
	padding: 1%;
	  box-shadow: 0 8px 15px rgba(255, 250, 105, .4);
	
}



.shown{
	
	opacity: 1;

}



.listItem img{
	margin: 0;
	width: 56%;
	background-color: rgb(2,2,2,0.45);
	margin-top: -80%;
	
	
	
	}
.listItem .noBg{
	margin: 0;
	width: 56%;
background-color: rgb(2,2,2,0);
	margin-top: -80%;
	}
.imageListContainer{
	
	margin-top: 10%;
}

.listItemFlag{
		-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	
	margin-top: 50px;
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: once;
	font-family: 'bebas', Fallback, sans-serif;
	font-size: 28px;
	background-color: #50541d;

	border-radius: 5px;
	padding: 0.1%;
	text-shadow: 1px 1px 5px #fffa69;
	background-size:  100% 100%; 
	color: #292427;
		min-height: fit-content;
		min-width: 21%;	
		max-height: fit-content;
		
	transition: background-size 2s, margin 2s, color 2s, text-shadow 2s, min-height 2s, padding 2s, font-size 2s;
}

.listItemFlag:hover{
	margin-top: 50px;
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: once;
	font-family: 'bebas', Fallback, sans-serif;
	font-size: 28px;
	background-color: #50541d;

	border-radius: 5px;
	padding: 1%;
	text-shadow: 1px 1px 5px #ffffff;
	background-size: 150% 100%; 
	background-position: center;
	background-image: none;
		min-height: fit-content;

    font-size: 35px;
}

.hidden {
	  display: none;
		opacity: 0;
	transition: 1s;

}

.listItemFlag:hover .hidden {
  display: block;
  	opacity: 1;

}

img {
	margin-top: 50px;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: once;
	width: 20%;
}

.hoverable-image {
	margin-top: 50px;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: once;
	width: 20%;
	 box-shadow: 0 8px 15px rgba(255, 250, 105, .4);
	 transition: all 1s;
}

.hoverable-image:hover{

	width: 35%;
	 box-shadow: 0 8px 25px rgba(255, 250, 105, .4);
}

#floatNav{
	
	position: fixed;
	display: flex;
	margin-left: 10px;
	background-color: transparent;
	width: 2.5vw;
	height: 30%;
	margin-top: auto;
	border: 0px solid;
	border-radius: 33px;
	border-color: transparent;
	transition: border 2s, height 2s;
	
	    justify-content: space-around;
    flex-direction: column;
    align-items: center;
	
}
#floatNav:hover > .selectorButton { background-color: var(--accent); transition: background-color 2s;}
#floatNav:hover{
	height: 45%;
	border: 2px var(--accent) solid;
	border-color: ;
}


#floatNav .selectorButton{
	
	background-color:var(--accent);
	width: 8.5px;
	height: 4%;
	border-radius: 100px;
	display: block;
}
#floatNav .selectorButton:hover{
	
	background-color:#83c433;
	width: 8.5px;
	height: 4%;
	border-radius: 100px;
	display: inline-block;
}

[id*="slide-"] 
  {
	text-align: center;
	display: block;
    height: 100%;
    width: 100%;
	overflow-y: auto;
	transition: margin-top 1s;
	/*background-image: url(images/stripe.svg);*/

	background-color: #292427;
background: rgb(78,71,75);
background: radial-gradient(circle, rgba(78,71,75,1) 0%, rgba(41,36,39,1) 100%);
	
  }


.slidingUp
  {
	margin-top: -100vh;

  }
  
.hiddenSlide
  {
	display: none;
  }

.slide-title
{
	display: none;
	
}

@keyframes slidein {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 50px;
  }
}


#floatNav .selectorButton .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

	z-index: 1;

  /* Position the tooltip */
  position: absolute;
  transform: translate(0,-50%);

}

#floatNav .selectorButton:hover .tooltiptext {
  visibility: visible;
}



/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.loadSpinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.loadSpinner > div {
  width: 18px;
  height: 18px;
  background-color: #191914;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loadSpinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: var(--accent);
}

.loadSpinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #ffffff;
}

.loadSpinner .bounce3 {

  background-color: var(--accent);
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}